:root {
  --background-color: #0f0f0f;
  --text-color: #ffffff;
  --desc-color: #aaaaaa;
  --input-color: #121212;
  --button-color: #222222;
  --button-hover-color: #3f3f3f;
  --border-color: #303030;
  --accent-color: #3f3f3f;

  --h1-font-size: 24px;
  --input-font-size: 16px;
  --button-font-size: 14px;
  --title-font-size: 16px;
  --desc-font-size: 14px;

  --h1-font-weight: 600;
  --title-font-weight: 500;

  --transition: all 0.1s ease;

  --font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;

  /*font-family: "Switzer", sans-serif;
  font-family: "Clash Grotesk", sans-serif;*/
  font-family: var(--font-family);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  color: var(--text-color);
  font-family: var(--font-family);
}

input {
  color: var(--text-color);
  font-family: var(--font-family);
}
